<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Könyvesbolt</title>
  </head>
  <body>
    <!-- Navbar -->
    <% include navbar %>

    <!-- Content area -->
    <div class="content">
      <% if(user === undefined) {%>
      <h2>Üdv a könyvesboltban!</h2>
      <% } else { %>
      <h2><%=user.nev%>, üdv a könyvesboltban!</h2>
      <% } %>
    </div>
  </body>
</html>
