<!-- Navbar -->
<div class="navbar">
  <h1>Könyvesbolt</h1>
  <ul class="navbar-items">
    <li><a href="/">Főoldal</a></li>
    <li><a href="/konyvek">Könyvek</a></li>
    <!-- Konyvek oldalra visz majd, csak valami mufaj szuressel (?) -->
    <li><a href="/konyvek">Műfajok</a></li>
  </ul>
</div>

<!-- Search bar + user stuff -->
<div class="searchbar">
  <div class="search-wrapper">
    <img class="search-icon" src="images/search-icon.png" />
    <input class="search" placeholder="Keresés..." type="text" />
  </div>

  <div class="user-management">
    <a href="/kosar"> Kosaram </a>
    <a href="/register"> Regisztráció </a>
    <a href="/login"> Bejelentkezés </a>
  </div>
</div>
